h1 {
    font-family: Futura;
    display: inline;
}

body {
    font-family: Roboto;
}

input::placeholder {
    font-style: italic;
}

#searchbar {
    margin-left: 40%;
    margin-top: 20%;
    width: 20%;
    height: 20%;
}

#search {
    width: 100%;
}
#searchbar>h1 {
    margin-left: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#topbar {
    background-color: #273043;
    height: 50px;
    width: 100%;
}

#topbar>button{
    margin-top: 5px;
    margin-left: 5px;
}

#searchtopbar {
    height: 30px;
    width: 20%;
    margin-top: 10px;
    position: absolute;
    left: 79%;
    border: 1px solid black;
}