h1 {
    font-family: Futura;
    display: inline;
}


input::placeholder {
    font-style: italic;
}

text {
    transform-origin: 0px 0px 0px;
    display: block;
    white-space: nowrap;
}

#searchbar {
    margin-left: 40%;
    margin-top: 20%;
    width: 20%;
    height: 20%;
}

#search {
    width: 100%;
}
#searchbar>h1 {
    margin-left: 25%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 47%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
